.avatar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    width: 100%;
    cursor: pointer;
}

.avatar-image {
    width: 60px;
    height: auto;
    margin-right: 5px;
    border-radius: 50%;
    background: white;
    padding: 3px;
}

.avatar-name {
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.avatar-name:hover {
    color: white;
}

