:root {
    --color: rgb(226, 183, 106);
    --gray-color: lightgray;
    --main-width: calc(100vw - 270px);
    --sidebar-height: 720px;
    --sidebar-width: 250px;
    --streamers-height: 550px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-areas:
    "header header"
    "sidebar main";
}