@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.eot'),
    url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic.woff2') format('woff2'),
    url('../fonts/CenturyGothic.woff') format('woff'),
    url('../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-Bold.eot'),
    url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
    url('../fonts/CenturyGothic-Bold.woff') format('woff'),
    url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-BoldItalic.eot'),
    url('../fonts/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic-BoldItalic.woff2') format('woff2'),
    url('../fonts/CenturyGothic-BoldItalic.woff') format('woff'),
    url('../fonts/CenturyGothic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-Italic.eot'),
    url('../fonts/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic-Italic.woff2') format('woff2'),
    url('../fonts/CenturyGothic-Italic.woff') format('woff'),
    url('../fonts/CenturyGothic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}