.header {
    width: 100%;
    height: 90px;
    background: #fff;
    box-shadow: 0 3px 10px -2px var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
    border-top: none;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    grid-area: header;
    padding: 5px 20px 5px 20px;
    z-index: 1000;
    --font-size: 24px;
    font-weight: bold;
}

.header .logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color);
    font-size: 33px;
    cursor: pointer;
}

.header .logo i {
    margin-right: 10px;
    font-size: 60px;
}

.header .logo span {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
}

.header .search {
    width: 100%;
    display: flex;
    flex: 2;
    justify-content: center;
    align-self: center;
}

.header .rightBar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0px;
}

.header .search-input {
    width: 100%;
    border: 1px solid var(--gray-color);
    border-radius: 5px 0 0 5px;
    border-right: none;
    padding: 5px;
    outline: none;
    font-family: "Century Gothic", sans-serif;
    font-size: var(--font-size);
}

.header .search-input:focus {
    border: 1px solid var(--color);
    border-right: none;
    box-shadow: 0px 0px 2px 2px rgba(226, 183, 106, 0.4);
}

.header .search-btn {
    border: 1px solid var(--color);
    border-radius: 0 5px 5px 0;
    background: var(--color);
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: var(--font-size);
    width: 65px;
}

.header .notification-btn,
.header .voice-btn {
    border: none;
    text-align: center;
    cursor: pointer;
    background: none;
    font-size: 32px;
    color: var(--gray-color);
    margin-left: 15px;
}

.header .notification-btn:hover,
.header .voice-btn:hover {
    color: #999999;
}

.header .profile-btn {
    border: 1px solid var(--color);
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    background-color: var(--color);
    color: black;
    font-size: 32px;
    width: 45px;
    height: 45px;
    padding: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .profile-btn:hover {
    background-color: var(--gray-color);
    border-color:  var(--gray-color);
}

.header .profile-btn:hover > ul {
    display: block;
}

.header .rightBar > li {
    margin-left: 15px;
}