.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    max-width: var(--main-width);
    width: var(--main-width);
    min-height: var(--sidebar-height);
    padding: 20px;
}

.category-panel {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    justify-content: start;
    align-items: start;
    padding-bottom: 20px;
    overflow-x: auto;
    z-index: 1;
}

/**
* hide scrollbar but allow scrolling
 */
.category-panel::-webkit-scrollbar {
    display: none;
}

.category-panel button {
    border: none;
    border-radius: 20px;
    background-color: #e2deed;
    white-space: nowrap;
    padding: 10px 20px 10px 20px;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    cursor: grab;
    outline: none;
}

.category-panel button:first-child {
    background-color: var(--color);
    color: white;
}

.category-panel button:hover {
    background-color: var(--gray-color);
    color: white;
}

.footer {
    margin-top: 30px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-self: center;
    align-items: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.footer span {
    margin-right: 10px;
}

.footer i {
    cursor: pointer;
}

.footer i:hover {
    color: var(--color);
}

.footer .info {
    display: flex;
    flex: 1;
    align-items: center;
}