.profile-menu {
    display: none;
    width: 170px;
    background: #fff;
    position: absolute;
    top: 108%;
    right: 0;
    right: 0;
    list-style: none;
    padding: 0px;
    text-align: left;
    white-space: nowrap;
    box-shadow: -3px 3px 10px -2px var(--gray-color);
    border-radius: 4px;
    font-weight: normal;
    font-size: 24px;
}

.profile-menu li {
    padding: 5px 10px 5px 10px;
    border: 1px solid var(--gray-color);
}

.profile-menu li:not(:first-child) {
    border-top: none;
}

.profile-menu li:first-child {
    border-radius: 4px 4px 0px 0px;
}

.profile-menu li:last-child {
    border-radius: 0px 0px 4px 4px;
    color: red;
}

.profile-menu li:hover {
    background: var(--gray-color);
}