.sidebar {
    grid-area: sidebar;
    width: var( --sidebar-width);
    background-color: #e2deed;
    height: var(--sidebar-height);
}

.sidebar .streamers {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    height: var(--streamers-height);
    overflow-y: auto;
    border-bottom: 1px solid white;
}

/**
* hide scrollbar but allow scrolling
 */
.sidebar .streamers::-webkit-scrollbar {
    display: none;
}

.sidebar .info {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    height: calc(var(--sidebar-height) - var(--streamers-height) - 20px);
}

.social-btn-bar {
    padding-top: 10px;
    font-size: 1.7em;
}

.sidebar .info span::selection {
    background-color: var(--color);
    color: white;
}

.social-btn-bar i {
    cursor: pointer;
}

.social-btn-bar i:hover {
    color: var(--color);
}

.sidebar .social-btn-bar i:not(first-child) {
    padding-right: 10px;
}

.sidebar .streamer-card {
    padding: 10px;
    display: flex;
    align-self: flex-start;
    flex-direction: row;
}

.sidebar .streamer-card {
    width: 100%;
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    padding: 20px;
    cursor: pointer;
}

.sidebar .streamer-card:hover {
    background-color: var(--gray-color);
}

.sidebar .subscribers {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.sidebar .subscribers > i {
    font-size: 8px;
    padding-right: 8px;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: fa-beat 4s infinite;
    color: red;
}

@keyframes fa-beat {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.4);
    }
    20% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    35% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1);
    }
    55% {
        transform: scale(1.4);
    }
    70% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 1200px) {
    :root {
        --sidebar-width: 90px;
        --main-width: calc(100vw - 110px);
    }

    .sidebar .avatar-name,
    .sidebar .subscribers,
    .sidebar .subscribers span,
    .sidebar .subscribers i,
    .sidebar .info,
    .sidebar .social-btn-bar {
        display: none;
    }
}