.video-panel {
    display: grid;
    --video-width: 400px;
    --description-width: calc(100% - 70px);
    grid-template-columns: repeat(auto-fit, minmax(var(--video-width), 1fr));
    justify-content: space-between;
    grid-gap: 10px;
}

.video .preview {
    position: relative;
}

.video .preview .live-badge {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: red;
    border-radius: 4px;
    margin: 7px 0px 0px 7px;
    padding: 3px 7px 3px 7px;
    cursor: pointer;
    z-index: 100;
}

.video .preview .info-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    margin: 0px 7px 14px 0px;
    padding: 3px 7px 3px 7px;
    cursor: pointer;
    z-index: 100;
}

.video .video-image {
    width: 100%;
    height: auto;
}

.video .play-video {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.video .play-video > i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video .play-video:hover {
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn 3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: fadeIn 3s;
    -moz-animation-fill-mode: forwards;
    -o-animation: fadeIn 3s;
    -o-animation-fill-mode: forwards;
    -ms-animation: fadeIn 3s;
    -ms-animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.video .info {
    display: flex;
    align-items: center;
    padding: 10px;
}

.video .info .text-wrp {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: var(--description-width);
}

.video .info .desc {
    font-weight: bold;
    width: var(--description-width);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.video .info .avatar-name {
    color: #999999;
    width: var(--description-width);
}

.video .info .desc:hover,
.video .info .avatar-name:hover{
    color: var(--color);
    cursor: pointer;
}

.video .info i:last-child {
    justify-content: flex-end;
    cursor: pointer;
}


